<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container" style="text-align: center">
    <span class="text-muted">Developed by &hearts; Himanshu Singh</span>
  </div>
</footer>